.JobTitle {
  font-size: var(--fontSize-medium);
  font-weight: var(--heavy);
  margin: 0;
  height: 48px;
  line-height: 24px;
  width: 200px;
  text-overflow: clip;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.PayRange {
  margin: 0;
  font-size: var(--fontSize-medium);
  font-weight: var(--medium);
}

.Row-SpaceBetween {
  justify-content: space-between;
}

.Row-AlignItemsCenter {
  align-items: center;
}

.Grid {
  display: grid;
  row-gap: var(--s);
  column-gap: var(--s);
  grid-template-columns: auto auto auto;
  margin: var(--s) 0;
}

.CompanyRow-Wrapper {
  margin: var(--s) 0 0;
}

.CompanyLogo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: var(--s);
}

.CompanyName {
  font-size: var(--fontSize-main);
  font-weight: var(--medium);
  margin: 0;
  height: 32px;
  line-height: 16px;
  width: 150px;
  text-overflow: clip;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.TimeString {
  color: var(--grey-2);
}
